.report{
    margin-top: 100px;
    margin-bottom: 100px;
    width: 100vw;
    min-height: Calc(100vh - 100px);
    align-items: center;
    display: flex;
    flex-direction: column;
}
.reports{
    display: grid;
    width: 80vw;
    grid-template-columns: 1fr 3fr 3fr 4fr;
}
.reports h5{
    text-align: center;
    border: 1px solid #3E37FC;
    overflow: hidden;
    border-bottom: none;
}

.report h4{
    color: #272727;
    text-align: center;
}
.report__directions{
    border: solid 1px #2C27E5;
    border-bottom: 0;
    background: bisque;
}
.report__directions:last-child{
    border: solid 1px #2C27E5;
}