.train{
    margin-top: 100px;
    width: 100vw;
    min-height: Calc(100vh - 100px);
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.train h2,.train h3,.train h4,.train div h3{
    color: #272727;
    text-align: center;
}
.train__directions{
    border: solid 1px #2C27E5;
    border-bottom: 0;
}
.train__directions:last-child{
    border: solid 1px #2C27E5;
}
.carriage{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 8px;
    border: solid 1px #2C27E5;
    width: 400px;
    min-width: 400px;
}

input{
    padding-left: 4px;
    padding-right: 4px;
}