.carriages_svg {
    display: grid;
    grid-template-columns: repeat(auto-fill, 400px);
    width: 90vw;
    place-items: center;
    justify-content: center;
    gap: 0;
}

@keyframes firstAnimation {
    0% {
        opacity: 1;
    }
    10%, 100% {
        opacity: 0;
    }
}

@keyframes secondAnimation {
    0%, 10% {
        transform: scale(0);
    }
    70%, 100% {
        transform: scale(1);
    }

}

.first__train__animation {
    animation: firstAnimation 8s infinite;
    opacity: 1;
    width:15vw;
    height:11.25vw;
}

.second__train__animation {
    animation: secondAnimation 8s infinite;
    transform: scale(0);
    width:15vw;
    height:11.25vw;
}